{% extends 'base.html' %}

{% block title%} Seja bem vindo {% endblock%}

{% block main %}

<div class="container">
    <div class="col-sm">

    </div>
    <div class="col-sm">
        {% if user.is_authenticated %}
        <a href="{% url 'alunos_list' %}">Lista de Alunos</a>
        <a href="{% url 'alunos_new' %}">Novo Aluno</a>
        <p>Olá {{user}} </p>
        <a href="{% url 'logout' %}">Sair</a>
        {% else %}
        <a href="{% url 'login' %}" class="">Entrar</a>
        {% endif %}
    </div>
</div>
{% endblock %}