{% extends 'base.html' %}

{% block title%} Seja bem vindo {% endblock%}

{% block main %}

<div class="container">
    <div class="col-sm">
        {% if user.is_authenticated %}
        <nav class="menu">
            <ul>
                <li><a href="{% url 'alunos_list' %}">Lista de Alunos</a></li>
                <li><a href="{% url 'alunos_new' %}">Novo Aluno</a></li>
                <li>
                    <p>Olá {{user}} </p>
                </li>
                <li><a href="{% url 'logout' %}">Sair</a></li>
            </ul>
        </nav>
        {% else %}
        <a href="{% url 'login' %}" class="">Entrar</a>
        {% endif %}
    </div>
</div>
{% endblock %}