{% extends 'base.html' %}

{% load static %}

{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

{% endblock %}

{% block title %} Seja bem vindo {% endblock %}

{% block main %}

<div class="container">
    <div class="col-sm">
        {% if user.is_authenticated %}
        <nav class="menu">
            <ul>
                <li><a href="{% url 'alunos_list' %}">Lista de Alunos</a></li>
                <li><a href="{% url 'alunos_new' %}">Novo Aluno</a></li>

                <li><a href="{% url 'register' %}">Novo Usuário</a></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>
            </ul>
        </nav>
        {% else %}
        <h1>teste</h1>
        <a href="{% url 'login' %}" class="">Entrar</a>

        {% endif %}
    </div>
</div>
{% endblock %}