{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

    <title>{% block title %} Página de Login {% endblock %}</title>
</head>
{% block main %}

<div class="login">

    <form method="post">
        <h1>Login</h1>
        {% csrf_token %}
        <p>
            <label for="form.username.label_tag">{{ form.username.label_tag }}</label>
        </p>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
        <button type="submit">Login</button>
</div>
{% endblock %}

</html>