{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'alunos.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'alunos.css' %}">

{% endblock %}

{% block title %} Seja Bem vindo {% endblock %}



{% block main %}
<section>
    <h1>Alunos</h1>

    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Alunos</th>
                    <th>Email</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    {% for alunos in aluno %}
                    <td><a href=" {% url 'alunos_update' alunos.id %}">{{ alunos.nome }}</a></td>
                    <td>{{ alunos.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}